<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
</head>
<body>
    <div id="container">
        <h1>The followings are the message from the server.</h1>
    </div>
    <script src="/socket.io/socket.io.js/"></script>
    <script>

        var socket = io.connect('http://localhost:9004', {
            path: '/socket.io'
        });

        socket.on('news', function(data) {
            var str = `<div>${data}</div>`;
            document.write(str);
            socket.emit('reply', 'Message from the client.');
        });
    </script>
</body>